* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Deixar padronizado no tamamho do body, sem deixar vazar */
}

body {
    background-color: #0b0e14;
    color: #FFFFFF;
}

.banner{
    background-image: linear-gradient(180deg, rgba(11, 14, 20, 0), rgba(11,14,20,0.6)),url("https://picsum.photos/600/300/?blur=1");
    background-position: center;/* ALinha o background com  centro*/
    background-repeat: no-repeat;/* a imagem do background nao se repetir*/
    background-size: cover;/* para a imagem caber dentro do banner*/
    padding: 40px;
    text-align: center;/*alinhas texto no centro*/
}

.banner p{
    margin: 5px 0 0;
    color: #d9e6ff;
}

.destaque  {
    color:  #0a7cff;
}

#especial {
    background-color:  #8098d6;
    padding: 5px;
    border-radius: 30px;
    width: 500px;
}

img {
    max-width: 50%;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;/*margem do topo*/
}

th, td {
    border: 1px solid #1a2030;
    padding: 8px;
}

th {    
    background-color: #101522;
}

.botao {
    background-color: #0a7cff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: #FFFFFF;
}

.botao:hover{
    cursor: pointer;
    background-color: #005bb5;
    padding: 20px 30px;
}